body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}
/* by default there will be space, the words will be spaced so put this to make it okay */

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}
/* 20px top and bottom, 50px right and left padding */

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* space-between to give space in navigation bar items */

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 20px;
}

.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
/* to make word Search appear and visible*/

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid red;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}
/* font-weight= defines how thick or thin the words. 700 is bold, 400 is normal */

.slider {
  background: url("https://i.pinimg.com/564x/68/c9/c4/68c9c457ef8882190c2b515d0fdcb416.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
}
/* clip-path will make the bg shape differently. Can find clip path generator online for it.*/

.sliderWrapper {
  display: flex;
  width: 500vw;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* if you want to use position absolute, the parent must have position relative.*/

.sliderImage {
  z-index: 1;
}

.slideBg {
  position: absolute;
  width: 750px;
  height: 750px;
  border-radius: 50%;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: white;
  z-index: 1;
}
/* z-index: 
  1. property specifies the stack order of an element.
  2. An element with greater stack order
   is always in front of an element with a lower stack order.
  3. only works on positioned elements such as position: absolute..., display: flex
   and etc.
*/

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  color: white;
  border: 2px solid black;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
}
.buyButton:hover {
  background-color: white;
  color: black;
}