body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}
/* by default there will be space, the words will be spaced so put this to make it okay */

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}
/* 20px top and bottom, 50px right and left padding */

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* space-between to give space in navigation bar items */

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 20px;
}

.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
/* to make word Search appear and visible*/

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid red;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}
/* font-weight= defines how thick or thin the words. 700 is bold, 400 is normal */

.slider {
  background: url("https://i.pinimg.com/564x/68/c9/c4/68c9c457ef8882190c2b515d0fdcb416.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
}
/* clip-path will make the bg shape differently. Can find clip path generator online for it.*/

.sliderWrapper {
  display: flex;
  width: 500vw;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* if you want to use position absolute, the parent must have position relative.*/
.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  color: white;
}
