body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  //overflow: hidden;
}
/* 
I added the overflow hidden
by default there will be space, the words will be spaced
so put this to make it okay 
*/

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}
/* 20px top and bottom, 50px right and left padding */

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* space-between to give space in navigation bar items */

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 20px;
}

.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
/* to make word Search appear and visible*/

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid red;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}
/* font-weight= defines how thick or thin the words. 700 is bold, 400 is normal */

.slider {
  background: url("https://i.pinimg.com/564x/68/c9/c4/68c9c457ef8882190c2b515d0fdcb416.jpg");
  //clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 76%);
  overflow: hidden;
}
/*
I added overflow hidden to hide the scrollbar
clip-path will make the bg shape differently. 
Can find clip path generator online for it.
*/

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.2s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* if you want to use position absolute, the parent must have position relative.*/

.sliderImage {
  z-index: 1;
}

.sliderBg {
  position: absolute;
  width: 750px;
  height: 750px;
  border-radius: 50%;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: white;
  z-index: 1;
}
/* z-index: 
  1. property specifies the stack order of an element.
  2. An element with greater stack order
   is always in front of an element with a lower stack order.
  3. only works on positioned elements such as position: absolute..., display: flex
   and etc.
*/

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  color: white;
  border: 2px solid black;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
}
.buyButton:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: aqua;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: purple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: firebrick;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: goldenrod;
}
/* nth-child can adjust the child div. If theres a lot of same div
  you can uses this 
  Up is for border color
  Below is for text color
*/
.sliderItem:nth-child(1) .sliderPrice {
  color: aqua;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: purple;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: firebrick;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: goldenrod;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.featureItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.featureImg {
  width: 50px;
  height: 50px;
}
.featureTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
}
/*
  margin = is used to create space around elements, outside of an defined borders.
  Diferences"
  padding controls the space inside an element, while margin is outside.

*/
.featureDesc {
  color: gray; 
  width: 60%;
  height: 100px;
}
